<?xml version="1.0" encoding="utf-8"?>
<plugin id="ionic-check-network-connectivity" version="0.0.1" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
	<name>
		NetworkConnectivity
	</name>
	<js-module name="network" src="www/NetworkConnectivity.js">
		<clobbers target="network" />
	</js-module>
	<platform name="android">
		<config-file parent="/*" target="res/xml/config.xml">
			<feature name="NetworkConnectivity">
				<param name="android-package" value="ionic.check.network.connectivity.NetworkConnectivity" />
			</feature>
		</config-file>
		<config-file parent="/*" target="AndroidManifest.xml" />
		<source-file src="src/android/NetworkConnectivity.java" target-dir="src/ionic/check/network/connectivity/NetworkConnectivity" />
	</platform>
	<platform name="ios">
		<config-file parent="/*" target="config.xml">
			<feature name="NetworkConnectivity">
				<param name="ios-package" value="NetworkConnectivity" />
			</feature>
		</config-file>
		<source-file src="src/ios/NetworkConnectivity.m" />
	</platform>
</plugin>
